@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    margin-top: 80px;
}

.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }

header .navbar-header .navbar-brand {
    font-size: 1.4em;
    margin-left: 1.0em;
}

.jumbotron.special {
    position: relative;
    min-height: 530px;
    margin-bottom: 0;
    overflow: hidden;
    text-align: center;
    background-image: url("../../images/IMG_1813.JPG");
    background-repeat: no-repeat;
    background-position: 0px 55%;
    -moz-background-size: cover;
         background-size: cover;
}

.jumbotron.special .layerTransparent {
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
}

.jumbotron.special .outline {
    margin-top: 120px;
    margin-bottom: 130px;
    color: #333;
}

.jumbotron.special h1,
.jumbotron.special .h1 {
    font-family: Montserrat, sans-serif;
}

section {
    padding: 60px 0;
}

.section-news { background-color: #fdfdff; }
.section-culture { background-color: #dfefff; }

.section-culture .image-box {
    text-align: center;
}

.section-culture .image-box .image {
    width: 80%;
    height: 80%;
    margin: 0 10% 20px 10%;
}

.section-culture .image-box .image img {
    width: 100%;
    height: 100%;
}

section .section-title {
    text-align: center;
    margin: 0 auto 40px;
}

.section-contact .contact-wrapper {
    display: block;
    border-collapse: separate;
    border-spacing: 15px;
}

.section-contact .contact-wrapper .contact-detail {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
}

.section-contact .contact-wrapper .contact-detail dl dt {
    display: table-cell;
    width: 90px;
    vertical-align: middle;
    /* font-size: 14px; */
    line-height: 25.2px;
    color: #999;
    font-weight: normal;
}

.section-contact .contact-wrapper .contact-detail dl dd {
    display: table-cell;
    /* font-size: 14px; */
    line-height: 25.2px;
    color: #666;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dd {
    margin-left: 0;
}

.news-wrapper .news {
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
}

.news-wrapper .news .news-date {
    display: table-cell;
    width: 110px;
    text-aligh: right;
    padding-right: 15px;
}

footer {
    padding: 40px 0;
    color: #eee;
    background-color: #222;
}